body {
	background-color: #ffffff;
}
h1 {
	color: orange;
    text-align: center;
}
firstTasks {
	font-family: "Times New Roman";
	font-size: 20px;
	background-color: red;
	color: blue;
} 
secondTasks {
	font-family: "Bodoni";
    	font-size: 25px;
	background-color: blue;
	color: red;
} 
thirdTasks {
	font-family: "Courier New";
	font-size: 30px;
	background-color: black;
	color: white;
} 
fourTasks {
	font-family: "Arial";
	font-size: 35px;
	background-color: white;
	color: black;
} 
fiveTasks {
	font-family: "Verdana";
	font-size: 40px;
	background-color: green;
	color: red;
} 
sixTasks {
	font-family: "Lucida Console";
	font-size: 45px;
	background-color: white;
	color: blue;
} 
string{
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}
string2{
	font-style: italic;
	font-weight: bold;
}
string3{
	font-style: oblique;
	font-variant: normal;
}
string4{
	font-variant: small-caps;
	color: green;
}
string5{
	font-variant: small-caps;
}

a.firstLink {
	text-decoration: none;
	color: black;
}

a.firstLink:hover {
	text-decoration: underline;
}

a.secondLink {
	text-decoration: none;
	color: red;
}

a.secondLink:hover {
	color: blue;
}

a.thirdLink {
	text-decoration: none;
	color: blue;
	border: 5px solid blue;
	padding: 4px 20px;
}

a.thirdLink:hover {
	background: blue;
	color: white;
}

a.fourLink {
	text-decoration: none;
	color: white;
	background: green;
	border-radius: 10px;
	padding: 15px;
}

a.fourLink:hover {
	background: pink;

}

a.fiveLink {
	text-decoration: none;
	color: black;
	border: 3px solid black;
	border-radius: 20px;
	font-weight: bold;
	padding: 5px 20px;
}

a.fiveLink:hover {
	background: black;
	color: white;
}

img.image1{
	border-radius: 40px;
	box-shadow: 0 0 7px yellow;
	border: 4px solid green;
	width: 500px;
}

img.image2{
	border-radius: 50%;
	box-shadow: 0 0 15px blue;
	border: 5px solid blue;
	width: 500px;
	margin-left: 100px;	
}


